.A_Logo {
  width: 123px;
  height: 47px;

  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 23px;

  display: flex;
  align-items: center;

  color: var(--white);
}

.A_HeaderSection,
.A_FooterSection {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  display: flex;
  align-items: center;
  text-align: center;

  color: var(--white);
}

.A_FooterIconSocialNetwork {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;

  &.-VK {
    background-image: url('images/IconsSocialNetworks/Q_VK-White.png');
  }

  &.-TG {
    background-image: url('images/IconsSocialNetworks/Q_TG-White.png');
  }

  &.-Dzen {
    background-image: url('images/IconsSocialNetworks/Q_Dzen-White.png');
  }
}

.A_BackButton {
  position: absolute;
  top: 50px;
  left: 0px;

  font-family: 'PP Neue Machina Plain Regular';
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 25px;

  color: var(--white);
  opacity: 0.4;

  transition: 0.5s;

  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.A_SectionTitle {
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-size: 61px;
  line-height: 63px;

  color: var(--black);

  background-repeat: no-repeat;

  &.-Crafts {
    width: 700px;
    height: 82px;
    background-image: url('./images/crafts/shape_title.svg');
    padding-left: 8px;
    padding-top: 12px;
  }

  &.-Articles {
    width: 648px;
    height: 82px;
    background-image: url('./images/articles/shape_title.svg');
    padding-left: 9px;
    padding-top: 11px;
  }

  &.-Map {
    width: 510px;
    height: 80px;
    background-image: url('./images/map/shape_title.svg');
    padding-left: 8px;
    padding-top: 8px;
  }
}

.A_TagButton {
  box-sizing: border-box;
  height: 36px;

  padding: 6px 14px 8px;

  border: 1.5px solid;
  border-radius: 14px;
  border-color: var(--white);

  font-family: 'PP Neue Machina Plain Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 22px;

  text-align: center;

  color: var(--white);

  transition: 0.5s;

  cursor: pointer;

  &:hover {
    background-color: var(--lightgrey);
    border-color: var(--lightgrey);
  }

  &.active {
    color: var(--black);
    background-color: var(--white);
  }
}

.A_TagOptionsTextHide,
.A_TagOptionsTextShow {
  font-family: 'PP Neue Machina Plain Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;

  color: rgba(255, 255, 255, 0.5);

  transition: 0.5s;

  cursor: pointer;

  &:hover {
    color: var(--white);
  }
}

.A_CraftsCardPic {
  width: 368px;
  height: 290px;
  box-sizing: border-box;

  border: 2px solid;
  border-radius: 26px;
  border-color: var(--white);

  background-repeat: no-repeat;
  background-position: center center;
  object-fit: cover;

  &:hover {
    border: 4px solid;
  }
}

.A_CraftsCardTitle {
  width: 316px;
  max-height: 48px;

  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-size: 23px;
  line-height: 24px;

  color: var(--white);
}

//
//
//
// Страницы ремёсел

.A_CraftLeadTitle {
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-size: 67px;
  line-height: 61px;

  background-repeat: no-repeat;

  &.-Uelen-bone-carving {
    width: 610px;
    height: 152px;
    background-image: url('./images/craft/uelen-bone-carving/lead_shape.svg');
    padding-left: 19px;
    padding-top: 15px;
  }
}

.A_CraftLeadDescriptionLocation {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;

  color: var(--white);
}

.A_TagButtonArticle {
  font-family: 'PP Neue Machina Plain Light';
  font-size: 21px;
  line-height: 22px;

  text-align: center;

  color: var(--white);

  box-sizing: border-box;
  padding: 7px 14px 5px;

  border: 1px solid;
  border-radius: 14px;
  border-color: var(--white);

  opacity: 0.5;
  transition: 0.2s;

  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}

.A_CraftAboutText {
  display: flex;

  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 27px;

  color: var(--white);

  &.-w580 {
    width: 580px;
  }

  &.-w680 {
    width: 680px;
  }
}

.A_CraftBodySubtitle {
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 33px;

  color: var(--white);

  &.-Left100 {
    margin-left: 100px;
  }
}

.A_CraftBodyText {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;

  color: var(--white);

  &.-w580 {
    width: 580px;
  }

  &.-w480 {
    width: 480px;
  }

  &.-w780 {
    width: 780px;
  }

  &.-w680 {
    width: 680px;
  }
}

.A_CraftBodyMapLocation {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;

  text-decoration: underline;
  text-decoration-thickness: 0.5px;

  color: var(--white);
  opacity: 0.5;

  transition: 0.1s;

  &:hover {
    opacity: 1;
  }
}

.A_SliderArrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.A_SliderImage {
  width: 880px;
  height: 520px;
  overflow: hidden;

  .W_SliderRails {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    position: relative;
    left: 0;

    transition: all ease 1s;
  }
}

.A_SliderDescriptionCounter {
  width: 110px;

  font-family: 'PP Neue Machina';
  font-style: italic;
  font-weight: 800;
  font-size: 24px;
  line-height: 25px;

  color: var(--white);
}

.A_CraftBodyNoteTitle {
  font-family: 'PP Neue Machina Plain Ultrabold Italic';
  font-size: 24px;
  line-height: 25px;

  color: var(--white);
}

.A_CraftBodyListItem {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 100%;

  margin-left: 10px;

  list-style-type: disc;
  list-style-position: inside;

  color: var(--white);

  &:hover {
    text-decoration: underline;
  }
}

.A_TeaserCardTitle {
  position: absolute;

  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 22px;

  color: var(--white);

  max-width: 256px;
}

.A_CraftEndTagsSearch {
  font-family: 'PP Neue Machina Plain Regular';
  font-size: 18px;
  line-height: 18px;

  color: var(--white);

  .span {
    text-decoration: underline;
  }
}

.A_CraftSourceTitle {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: var(--white);
}

.A_CraftSourceLink {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;

  color: var(--white);

  transition: 0.1s;

  &:hover {
    text-decoration: underline;
  }
}

//
//
//Start- стартовый экран
.A_MainPageLogo {
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-size: 110px;
  line-height: 100px;

  color: var(--black);

  background-repeat: no-repeat;

  width: 552px;
  height: auto;
  background-image: url('./images/Start/StartLogo.svg');
  padding-left: 21px;
  padding-top: 24px;
}

.A_MainPageBodyText {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  max-width: 490px;

  color: var(--white);
}

.A_Sticker {
  position: absolute;

  background-repeat: no-repeat;
  background-size: contain;

  &.-Doll {
    left: 12px;
    top: 10px;
    width: 237px;
    height: 482px;
    transform: rotate(-6deg);

    background-image: url('images/Start/StickerDoll.png');
  }

  &.-Hohloma2 {
    left: 290px;
    top: 82px;
    width: 315px;
    height: 273px;
    transform: rotate(18deg);

    background-image: url('images/Start/StickerHohloma2.png');
  }

  &.-Hohloma {
    left: 300px;
    top: 390px;
    width: 170px;
    height: 105px;
    transform: rotate(10deg);

    background-image: url('images/Start/StickerHohloma.png');
  }

  &.-Print {
    left: 558px;
    top: 348px;
    width: 200px;
    height: 132px;
    transform: rotate(-28deg);

    background-image: url('images/Start/StickerPrint.png');
  }

  &.-Gzhel {
    left: 652px;
    top: 112px;
    width: 210px;
    height: 166px;
    transform: rotate(5deg);

    background-image: url('images/Start/StickerGzhel.png');
  }

  &.-Matreshka {
    left: 840px;
    top: 260px;
    width: 151px;
    height: 254px;
    transform: rotate(10deg);

    background-image: url('images/Start/StickerMatreshka.png');
  }

  &.-Flower {
    left: 870px;
    top: 30px;
    width: 124px;
    height: 128px;

    background-image: url('images/Start/StickerFlower.png');
  }

  &.-Print2 {
    left: 982px;
    top: 180px;
    width: 101px;
    height: 101px;
    transform: rotate(-142deg);

    background-image: url('images/Start/StickerPrint2.png');
  }

  &.-Hohloma3 {
    left: 1020px;
    top: 346px;
    width: 126px;
    height: 109px;
    transform: rotate(74deg);

    background-image: url('images/Start/StickerHohloma3.png');
  }

  &.-Head {
    left: 1140px;
    top: 82px;
    width: 216px;
    height: 348px;
    transform: rotate(7deg);

    background-image: url('images/Start/StickerHead.png');
  }
}

.A_MainPageSectionTitle {
  font-family: 'PP Neue Machina Plain Regular';
  font-size: 64px;
  line-height: 66px;
  text-align: center;

  color: var(--white);

  max-width: 850px;
}

.A_MainPageDescription {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: var(--grey);

  max-width: 530px;
}

.A_MainPageTeaserTitle {
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 82px;

  color: var(--black);

  background-repeat: no-repeat;

  width: 267px;
  height: auto;
  background-image: url('./images/Start/ArticleName.svg');
  padding-left: 8px;
  padding-top: 7px;
}

.A_MainPageButton {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;

  color: var(--white);

  padding: 11px 37px 10px 40px;

  background: var(--black);
  border-radius: 65px;
}

.A_MainPageTeaserButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 42px 15px 41px;

  border: 3px solid var(--white);
  border-radius: 65px;

  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;

  color: var(--white);

  transition: 0.5s;

  &:hover {
    color: var(--black);
    background-color: var(--white);
  }
}

.A_SelectInput {
  position: absolute;
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  width: 650px;
  height: 70px;
  padding-left: 30px;

  border-radius: 65px;
  border: none;

  outline: none;

  &::placeholder {
    font-family: 'PP Neue Montreal';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
  }
}

.A_SelectOptionListItem {
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 22px;

  color: var(--white);

  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 30px;

  width: 900px;
  height: 70px;

  background: var(--grey);
  border: 2px solid var(--black);
  border-radius: 65px;

  cursor: pointer;

  &:first-child {
    margin-top: 10px;
  }

  &:last-child {
    margin-bottom: 10px;
  }

  &:hover {
    background-color: var(--darkgrey);
  }

  &.active {
    color: var(--black);
  }
}

//
//
//
// Карта

.A_MapModalToCraft {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  color: var(--white);

  &:hover {
    text-decoration-line: underline;
  }
}

.A_StickerMap {
  background-repeat: no-repeat;
  background-size: contain;

  &.-UelenBear {
    width: 320px;
    height: 272px;
  }
}
