.A_Logo {
  width: 123px;
  height: 47px;

  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 23px;

  display: flex;
  align-items: center;

  color: var(--white);
}

.A_HeaderSections,
.A_FooterSections {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  display: flex;
  align-items: center;
  text-align: center;

  color: var(--white);
}

.A_FooterIconSocialNetwork {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;

  &.-VK {
    background-image: url('images/IconsSocialNetworks/Q_VK-White.png');
  }

  &.-TG {
    background-image: url('images/IconsSocialNetworks/Q_TG-White.png');
  }

  &.-Dzen {
    background-image: url('images/IconsSocialNetworks/Q_Dzen-White.png');
  }
}

.A_SectionTitles {
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-size: 61px;
  line-height: 63px;

  color: var(--white);
}

.A_TagButton {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 6px 14px 8px;

  height: 36px;

  border: 1.5px solid;
  border-radius: 14px;
  border-color: var(--white);

  font-family: 'PP Neue Machina Plain Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 22px;

  text-align: center;

  color: var(--white);

  transition: 0.5s;

  cursor: pointer;

  &:hover {
    background-color: #6a6a6a;
  }

  &.active {
    color: var(--black);
    background-color: var(--white);
  }
}

.A_TagOptionsText {
  font-family: 'PP Neue Machina Plain Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;

  color: rgba(255, 255, 255, 0.5);

  transition: 0.5s;

  &:hover {
    color: var(--white);
  }
}

.A_CraftsCardPic {
  img {
    height: 279px;
    width: 279px;

    border: 3px solid;
    border-radius: 26px;
    border-color: var(--white);
  }
}

.A_CraftsCardTitle {
  display: flex;

  position: relative;
  width: 239px;
  max-height: 44px;

  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 22px;

  color: var(--white);
}

//
//
//
// Страницы ремёсел

.A_CraftLeadTitle {
  background-repeat: no-repeat;

  &.-Uelen-bone-carving {
    width: 610px;
    height: 152px;
    background-image: url('./images/craft/uelen-bone-carving/lead_shape.svg');
    padding-left: 19px;
    padding-top: 15px;
  }
}

.A_CraftLeadDescriptionLocation {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;

  color: var(--white);
}

.A_TagButtonArticle {
  font-family: 'PP Neue Machina Plain Light';
  font-size: 21px;
  line-height: 22px;

  text-align: center;

  color: var(--white);

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 7px 14px 5px;

  border: 1px solid;
  border-radius: 14px;
  border-color: var(--white);

  opacity: 0.5;
  transition: 0.2s;

  &:hover {
    opacity: 1;
  }
}

.A_CraftAboutText {
  display: flex;

  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 27px;

  color: var(--white);

  &.-w580 {
    width: 580px;
  }
}

.A_CraftBodySubtitle {
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 33px;

  color: var(--white);

  margin-bottom: 16px;

  &.-Left100 {
    margin: 0px 0px 40px 100px;
  }

  &.-Padd0 {
    margin-bottom: 0px;
  }
}

.A_CraftBodyText {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;

  color: var(--white);

  &.-w580 {
    width: 580px;
  }
}

.A_CraftBodyMapLocation {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;

  text-decoration: underline;
  text-decoration-thickness: 0.5px;

  color: var(--white);
  opacity: 0.5;

  transition: 0.1s;

  &:hover {
    opacity: 1;
  }
}

.A_CraftSliderArrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.A_CraftBodyNoteTitle {
  font-family: 'PP Neue Machina Plain Ultrabold Italic';
  font-size: 24px;
  line-height: 25px;

  color: var(--white);

  padding: 0px 0px 12px;
}

.A_CraftBodyListItems {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;

  color: var(--white);

  padding: 0 0 0 10px;
}

.A_TeaserCardTitle {
  position: absolute;

  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 22px;

  color: var(--white);

  max-width: 256px;
}

.A_CraftEndTagsSearch {
  font-family: 'PP Neue Machina Plain Regular';
  font-size: 18px;
  line-height: 18px;

  color: var(--white);

  .span {
    text-decoration: underline;
  }
}

.A_CraftSourceTitle {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: var(--white);
}

.A_CraftSourceLink {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;

  color: var(--white);

  transition: 0.1s;

  &:hover {
    text-decoration: underline;
  }
}

//
//
//Start- стартовый экран
.A_MainPageLogo {
  background-repeat: no-repeat;

  width: 552px;
  height: auto;
  background-image: url('./images/Start/StartLogo.svg');
  padding-left: 21px;
  padding-top: 24px;
}

.A_MainPageBodyText {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  max-width: 490px;

  color: var(--white);
}

.A_StickerDoll {
  position: absolute;
  left: 22px;
  top: 10px;
  width: 237px;
  height: 482px;
  transform: rotate(-6deg);

  background-repeat: no-repeat;
  background-size: contain;

  background-image: url('images/Start/StickerDoll.png');
}

.A_StickerHohloma2 {
  position: absolute;
  left: 290px;
  top: 82px;
  width: 315px;
  height: 273px;
  transform: rotate(18deg);

  background-repeat: no-repeat;
  background-size: contain;

  background-image: url('images/Start/StickerHohloma2.png');
}

.A_StickerHohloma {
  position: absolute;
  left: 300px;
  top: 390px;
  width: 170px;
  height: 105px;
  transform: rotate(10deg);

  background-repeat: no-repeat;
  background-size: contain;

  background-image: url('images/Start/StickerHohloma.png');
}

.A_StickerPrint {
  position: absolute;
  left: 558px;
  top: 348px;
  width: 200px;
  height: 132px;
  transform: rotate(-28deg);

  background-repeat: no-repeat;
  background-size: contain;

  background-image: url('images/Start/StickerPrint.png');
}

.A_StickerGzhel {
  position: absolute;
  left: 652px;
  top: 112px;
  width: 210px;
  height: 166px;
  transform: rotate(5deg);

  background-repeat: no-repeat;
  background-size: contain;

  background-image: url('images/Start/StickerGzhel.png');
}

.A_StickerMatreshka {
  position: absolute;
  left: 840px;
  top: 260px;
  width: 151px;
  height: 254px;
  transform: rotate(10deg);

  background-repeat: no-repeat;
  background-size: contain;

  background-image: url('images/Start/StickerMatreshka.png');
}

.A_StickerFlower {
  position: absolute;
  left: 870px;
  top: 30px;
  width: 124px;
  height: 128px;

  background-repeat: no-repeat;
  background-size: contain;

  background-image: url('images/Start/StickerFlower.png');
}

.A_StickerPrint2 {
  position: absolute;
  left: 982px;
  top: 180px;
  width: 101px;
  height: 101px;
  transform: rotate(-142deg);

  background-repeat: no-repeat;
  background-size: contain;

  background-image: url('images/Start/StickerPrint2.png');
}

.A_StickerHohloma3 {
  position: absolute;
  left: 1020px;
  top: 346px;
  width: 126px;
  height: 109px;
  transform: rotate(74deg);

  background-repeat: no-repeat;
  background-size: contain;

  background-image: url('images/Start/StickerHohloma3.png');
}

.A_StickerHead {
  position: absolute;
  left: 1140px;
  top: 82px;
  width: 216px;
  height: 348px;
  transform: rotate(7deg);

  background-repeat: no-repeat;
  background-size: contain;

  background-image: url('images/Start/StickerHead.png');
}

.A_MainPageSectionTitle {
  font-family: 'PP Neue Machina Plain Regular';
  font-size: 64px;
  line-height: 66px;
  text-align: center;

  color: var(--white);

  max-width: 850px;
}

.A_MainPageDescription {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: var(--grey);

  max-width: 530px;
}

.A_MainPageTeaserTitle {
  background-repeat: no-repeat;

  width: 267px;
  height: auto;
  background-image: url('./images/Start/ArticleName.svg');
  padding-left: 8px;
  padding-top: 7px;
}

.A_MainPageTeaserButton {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 42px 15px 41px;

  border: 3px solid var(--white);
  border-radius: 65px;

  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 43px;

  color: var(--white);

  transition: 0.5s;

  &:hover {
    color: var(--black);
    background-color: var(--white);
  }
}
