.A_Logo {
  width: 123px;
  height: 47px;

  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-size: 26px;
  line-height: 23px;

  display: flex;
  align-items: center;

  color: var(--white);
}

.A_HeaderSections,
.A_FooterSections {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  display: flex;
  align-items: center;
  text-align: center;

  color: var(--white);
}

.A_FooterIconSocialNetwork {
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;

  &.-VK {
    background-image: url('images/IconsSocialNetworks/Q_VK-White.png');
  }

  &.-TG {
    background-image: url('images/IconsSocialNetworks/Q_TG-White.png');
  }

  &.-Dzen {
    background-image: url('images/IconsSocialNetworks/Q_Dzen-White.png');
  }
}

.A_SectionTitles {
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-size: 61px;
  line-height: 63px;

  color: var(--white);
}

.A_TagButton {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 6px 14px 8px;

  height: 36px;

  border: 1.5px solid;
  border-radius: 14px;
  border-color: var(--white);

  font-family: 'PP Neue Machina Plain Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 22px;

  text-align: center;

  color: var(--white);

  transition: 0.5s;

  cursor: pointer;

  &:hover {
    background-color: #6a6a6a;
  }

  &.active {
    color: var(--black);
    background-color: var(--white);
  }
}

.A_TagOptionsText {
  font-family: 'PP Neue Machina Plain Regular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-decoration-line: underline;

  color: rgba(255, 255, 255, 0.5);

  transition: 0.5s;

  &:hover {
    color: var(--white);
  }
}

.A_CraftsCardPic {
  img {
    height: 279px;
    width: 279px;

    border: 3px solid;
    border-radius: 26px;
    border-color: var(--white);
  }
}

.A_CraftsCardTitle {
  display: flex;

  position: relative;
  width: 239px;
  max-height: 44px;

  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 22px;

  color: var(--white);
}

//
//
//
// Страницы ремёсел

.A_CraftLeadTitle {
  background-repeat: no-repeat;

  &.-Uelen-bone-carving {
    width: 610px;
    height: 152px;
    background-image: url('./images/craft/uelen-bone-carving/lead_shape.svg');
    padding-left: 19px;
    padding-top: 15px;
  }
}

.A_CraftLeadDescriptionLocation {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;

  color: var(--white);
}

.A_TagButtonArticle {
  font-family: 'PP Neue Machina Plain Light';
  font-size: 21px;
  line-height: 22px;

  text-align: center;

  color: var(--white);

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 7px 14px 5px;

  border: 1px solid;
  border-radius: 14px;
  border-color: var(--white);

  opacity: 0.5;
  transition: 0.2s;

  &:hover {
    opacity: 1;
  }
}

.A_CraftAboutText {
  display: flex;

  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 27px;

  color: var(--white);

  &.-w580 {
    width: 580px;
  }
}

.A_CraftBodySubtitle {
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 33px;

  color: var(--white);

  margin-bottom: 16px;

  &.-Left100 {
    margin: 0px 0px 40px 100px;
  }

  &.-Padd0 {
    margin-bottom: 0px;
  }
}

.A_CraftBodyText {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;

  color: var(--white);

  &.-w580 {
    width: 580px;
  }
}

.A_CraftBodyMapLocation {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 22px;

  text-decoration: underline;
  text-decoration-thickness: 0.5px;

  color: var(--white);
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}

.A_CraftSliderArrows {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.A_CraftBodyNoteTitle {
  font-family: 'PP Neue Machina Plain Ultrabold Italic';
  font-size: 24px;
  line-height: 25px;

  color: var(--white);

  padding: 0px 0px 12px;
}

.A_CraftBodyListItems {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;

  color: var(--white);

  padding: 0 0 0 10px;
}

.A_TeaserCardTitle {
  position: absolute;

  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-size: 21px;
  line-height: 22px;

  color: var(--white);

  max-width: 256px;
}

.A_CraftEndTagsSearch {
  font-family: 'PP Neue Machina Plain Regular';
  font-size: 18px;
  line-height: 18px;

  color: var(--white);

  .span {
    text-decoration: underline;
  }
}

.A_CraftSourceTitle {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;

  color: var(--white);
}

.A_CraftSourceLink {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 27px;

  color: var(--white);

  &:hover {
    text-decoration: underline;
  }
}
