.M_HeaderNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  &.-StartScreen {
    justify-content: flex-end;
  }

  .C_HeaderNavSections {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 70px;
  }
}

.M_FooterNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  .C_FooterNavSections {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .W_FooterIcons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

    height: 100%;
  }

  .C_FooterIconsSocialNetwork {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 40px;
  }
}

//
//
//
// Карта

.M_MapModalContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  margin: 84px 0px 0px 80px;

  .W_MapModalTexts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
  }
}

//
//
//
// Страница Библиотеки ремёсел

.M_CraftsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;

  .W_CraftsCardTexts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
  }
}

//
//
//
// Страницы ремёсел

.M_CraftLeadDescription {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px 0px 21px;
  gap: 14px;

  .W_CraftLeadDescriptionMap {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px 0px 4px;

    opacity: 0.5;
    transition: 0.2s;

    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .C_CraftLeadDescriptionTags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }
}

//
//

.M_CraftAboutTexts {
  //new
  display: flex;
  flex-direction: column;
  gap: 10px;

  .W_CraftTitleGeo {
    gap: 0;
  }
}

.M_CraftBodyTexts {
  //new
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.M_ImageWithDescription {
  //new
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  &.v2 {
    margin-left: 756px;
  }

  &.v3 {
    margin-left: 175px;
  }

  .W_ImageDescription {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }
}

.M_CraftBodyImages {
  position: relative;
  width: 782px;
  height: 586px;
}

//
//

.M_CraftAbout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.M_CraftBodyMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.M_CraftSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  .C_IconsSliderPoint {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
  }
}

.M_SliderDescription {
  width: 910px;
  height: 81px;
  overflow: hidden;

  .W_SliderDescriptionRails {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;

    position: relative;
  }

  .W_SliderDescriptionTexts {
    width: 910px;
    height: 81px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.M_CraftBodyList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 100px;

  .C_CraftBodyListItems {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
}

.M_TeaserCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;

  width: 280px;
  height: 160px;

  background-color: grey;
  border-radius: 23px;

  background-repeat: no-repeat;
  background-size: cover;

  cursor: pointer;

  &.-bones {
    background-image: url('./images/teaser/bones.png');
  }

  &.-nord {
    background-image: url('./images/teaser/nord.png');
  }

  &.-toys {
    background-image: url('./images/teaser/toys.png');
  }
}

.M_CraftEndTags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.M_CraftSource {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .C_CraftSourceLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;

    max-width: 580px;
  }
}

.M_ContentFirst {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;

  .C_CraftLeadDescriptionTags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }
}

//
//
//
//Start- стартовый экран
.M_MainContentM {
  display: flex;
  align-items: center;
  gap: 60px;

  margin-top: 64px;
  margin-bottom: 50px;
}

.M_MainContentD {
  display: flex;
  align-items: flex-start;
  // gap: -232px;

  margin-top: 96px;
  margin-bottom: 62px;
}

.M_MainRead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 36px;

  .W_MainTexts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
}
