.M_HeaderNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 1254px;

  &.-StartScreen {
    justify-content: flex-end;
  }

  .C_HeaderNavSections {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 80px;
  }
}

.M_FooterNav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 1254px;

  .C_FooterIconsSocialNetwork {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 18px;
  }
}

//
//
//
// Карта

.M_MapModalContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 14px;
  margin: 84px 0px 0px 80px;

  .W_MapModalTexts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 26px;
  }
}

//
//
//
// Страница Библиотеки ремёсел

.M_CraftsCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

//
//
//
// Страницы ремёсел

.M_CraftLeadDescription {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px 0px 21px;
  gap: 14px;

  .W_CraftLeadDescriptionMap {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px 0px 4px;

    opacity: 0.5;
    transition: 0.2s;

    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  .C_CraftLeadDescriptionTags {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
  }
}

.M_CraftAbout {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.M_CraftBodyTexts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  &.-Left100 {
    margin-left: 100px;
  }

  &.-Left200 {
    margin-left: 200px;
  }
}

.M_CraftBodyMap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.M_CraftSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  .C_IconsSliderPoint {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
  }
}

.M_CraftBodyNote {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &.-w280 {
    width: 280px;
  }
}

.M_CraftBodyList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-left: 100px;

  .C_CraftBodyListItems {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
}

.M_TeaserCard {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px 12px 8px;

  width: 280px;
  height: 160px;

  background-color: grey;
  border-radius: 23px;
}

.M_CraftEndTags {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.M_CraftSource {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .C_CraftSourceLinks {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;

    max-width: 580px;
  }
}

//
//
//
//Start- стартовый экран
.M_MainPageStartTexts {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 106px;
}

.M_MainPageStartStickers {
  width: 1350px;
  height: 528px;

  position: relative;
}

.M_MainPageSectionTexts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.M_SelectField {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  width: 940px;
  height: 74px;

  background: var(--white);
  border-radius: 65px;

  .W_SelectButtons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    top: 5px;
    right: 5px;

    position: absolute;
  }
}

.M_MainPageTeaserTexts {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
