.O_Header {
  position: fixed;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  top: 0;
  left: 0;
  right: 0;
  height: 92px;

  background-color: var(--black);

  &.white {
    background-color: var(--white);
  }

  &.yellow {
    background-color: var(--yellow);
  }

  z-index: 100;
}

.O_Footer {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  height: 210px;
  width: auto;

  border-top: 2px solid;
  border-color: var(--white);

  background-color: var(--black);
}

//
//
// Crafrs — страница с каталогом всех ремёсел

.O_CraftsTitleFilter,
.O_ArticlesTitleFilter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  width: 1250px;

  .C_CraftsTagButtonsShort {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;

    max-width: 700px;

    grid-column-gap: 18px;
    grid-row-gap: 18px;
  }

  .C_ArticlesTagButtons {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;

    max-width: 860px;

    grid-column-gap: 18px;
    grid-row-gap: 18px;
  }
}

//
//
// Crafr — страницы отдельных ремёсел

.O_CraftLead {
  //new
  position: relative;
  width: 100vw;
  height: 816px;

  overflow: hidden;

  .C_LeadStrings {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 70px;

    bottom: 126px;

    .C_LeadStringsTitle {
      display: flex;
      flex-direction: row;
      gap: 52px;
    }
  }

  // .W_LeadImage {
  //   position: relative;
  //   width: 1700px;
  //   height: 816px;
  // }

  &.yellow {
    background-color: var(--yellow);
  }
}

.O_CraftAbout {
  //new
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0px 150px;
  gap: 90px;

  .C_CraftAboutImages {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.O_CraftPeculiarities {
  //new
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 88px 0px;

  width: 100vw;

  background: var(--yellow);
}

.O_CraftTechique {
  //new
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 80px;

  .W_CraftTechiqueFirst {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 110px;

    margin-left: 66px;
  }
}

.O_CraftGallery {
  //new
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 160px 0px 170px;
  gap: 40px;
}

.W_CraftPeculiaritiesContent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 1440px;
}

.O_CraftHistory {
  //new
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 170px 0px 220px;

  position: relative;
  width: 1440px;
}

//
//

.O_CraftBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;

  width: 1180px;

  .C_CraftBodyImages {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .C_CraftBodyImagesRow {
      // тут специально используется не флекс бокс

      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
}

.O_CraftBlockHistory {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.O_CraftBlockTechnique {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .W_SliderWithDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 52px;
    gap: 26px;
  }
}

.O_CraftBlockGallery {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .C_CraftBodyGallery {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    max-width: 1180px;
    gap: 20px;
  }
}

.O_Teasers {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin: 100px 0px 180px;

  .C_TeaserCards {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    max-width: 1180px;
    gap: 20px;
  }
}

//
//
//
// Map

.O_MapModal {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: fixed;
  right: 0;
  bottom: 0;

  width: 980px;
  height: 430px;

  background-color: var(--darkgrey);

  border-radius: 25px 0px 0px 0px;
}

//
//
//
//
//
//Start- стартовый экран
.O_MainPageStart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.O_MainPageCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;

  .C_CraftsCards {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    align-items: top;

    max-width: 1350px;

    grid-column-gap: 37px;
    grid-row-gap: 37px;
  }
}

.O_MainPageSearch,
.O_MainPageSubscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

//
.O_Select {
  width: 940px;

  .C_SelectOptionList {
    display: none;
    max-height: 200px;
    overflow-y: scroll;

    position: absolute;
    z-index: 10;

    border: 5px solid var(--black);
    border-radius: 32px;
    box-sizing: border-box;

    // background-color: var(--lightgrey);
  }

  &.focus {
    .C_SelectOptionList {
      display: block;
    }
  }
}

//

.O_MainPageTeaser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0px 0px 50px;
  gap: 39px;

  width: 1320px;
  height: 630px;

  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  background-image: url('images/Start/teaser.jpg');
}

//
//
//
//
.O_Search {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;
  margin-top: 62px;
}

.O_ContentItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
