.O_Header {
  position: fixed;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 93px;

  // border-bottom: 3px solid;
  // border-color: var(--white);

  background-color: var(--black);

  z-index: 100;
}

.O_Footer {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  height: 210px;
  width: auto;

  border-top: 2px solid;
  border-color: var(--white);

  background-color: var(--black);
}

//
//
// Crafrs — страница с каталогом всех ремёсел

.O_CraftsTitleFilter,
.O_ArticlesTitleFilter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 40px;

  position: relative;

  width: 1250px;
}

//
//
// Crafr — страницы отдельных ремёсел

.O_CraftLead {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 120px;

  position: relative;
  width: 1180px;
  // height: 308px;
  margin: 0 auto;

  .W_CraftLeadTitleDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;

    width: 1180px;
  }
}

.O_CraftBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;

  width: 1180px;

  .C_CraftBodyImages {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .C_CraftBodyImagesRow {
      // тут специально используется не флекс бокс

      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
}

.O_CraftBlockHistory {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.O_CraftBlockTechnique {
  display: flex;
  flex-direction: column;
  gap: 40px;

  .W_CraftSliderNote {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 52px;
    gap: 72px;
  }
}

.O_CraftBlockGallery {
  display: flex;
  flex-direction: column;

  .C_CraftBodyGallery {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    max-width: 1180px;
    gap: 20px;
  }
}

.O_Teasers {
  display: flex;
  flex-direction: column;

  .C_TeaserCards {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    max-width: 1180px;
    gap: 20px;
  }
}

//
//
//
//
//
//Start- стартовый экран
.O_MainPageStart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.O_MainPageCards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;

  .C_CraftsCards {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    align-items: top;

    max-width: 1350px;

    grid-column-gap: 37px;
    grid-row-gap: 37px;
  }
}

.O_MainPageSearch,
.O_MainPageSubscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

//
.O_SearchInputField {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px 0px 30px;
  // gap: 105px;

  position: relative;
  width: 940px;
  height: 74px;

  background-color: var(--white);
  border-radius: 65px;
}

.O_PostInputField {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 898px;
  height: 73px;
}

//

.O_MainPageTeaser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 0px 0px 50px;
  gap: 39px;

  width: 1320px;
  height: 630px;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-size: cover;

  background-image: url('images/Start/teaser.jpg');
}
