.VK {
  background-image: url('images/IconsSocialNetworks/Q_VK-White.png');
}

.TG {
  background-image: url('images/IconsSocialNetworks/Q_TG-White.png');
}

.Dzen {
  background-image: url('images/IconsSocialNetworks/Q_Dzen-White.png');
}
