.Q_Icon {
  &.-size48x48 {
    width: 48px;
    height: 48px;
  }

  &.-size6x6 {
    width: 6px;
    height: 6px;
  }

  &.-Map {
    background-image: url('images/Icons/Q_IconMap.svg');
  }

  &.-ArrowLeft {
    background-image: url('images/Icons/Q_IconArrowLeft.svg');
  }

  &.-ArrowRight {
    background-image: url('images/Icons/Q_IconArrowRight.svg');
  }

  &.-Point {
    background-image: url('images/Icons/Q_IconPoint.svg');
  }

  &.-Unavailable,
  &.-Inactive {
    opacity: 0.5;
  }
}

.Q_CraftLeadImage {
  width: 1180px;
  height: auto;

  margin-bottom: -90px;
}

.Q_CraftLeadTitleText {
  font-family: 'PP Neue Machina';
  font-style: normal;
  font-weight: 800;
  font-size: 67px;
  line-height: 61px;
}

.Q_CraftAboutImage {
  &.-w380 {
    width: 380px;
    height: auto;
  }
}

.Q_CraftBodyImage {
  object-fit: cover;

  &.-Gallery1 {
    width: 280px;
    height: 220px;
  }

  &.-Gallery2 {
    width: 380px;
    height: 220px;
  }

  &.-w480 {
    width: 480px;
    height: auto;
  }

  &.-w580 {
    width: 580px;
    height: auto;
  }

  &.-w680 {
    width: 680px;
    height: auto;
  }

  &.-w1180 {
    width: 1180px;
    height: auto;
  }

  &.-Left100 {
    margin: 0 0 0 100px;
  }
}

.Q_CraftBodyMapImage {
  width: 380px;
  height: auto;
}

.Q_CraftBodyListItem {
  font-family: 'PP Neue Montreal';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 36px;

  list-style-type: disc;
  list-style-position: inside;

  color: var(--white);

  &:hover {
    text-decoration: underline;
  }
}
