//
// Страница со всеми ремёслами/Статьями

.S_CraftsBody,
.S_ArticlesBody {
  display: flex;
  flex-direction: column;
  margin: 190px auto 200px;
  gap: 80px;

  width: 1180px;

  .C_CraftsCards {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    align-items: top;

    max-width: 1180px;

    grid-column-gap: 36px;
    grid-row-gap: 36px;
  }
}

//
//
//
// Страницы ремёсел

.S_CraftPage {
  margin: 90px auto 240px;
  display: flex;
  flex-direction: column;

  width: 1180px;

  .W_CraftContent {
    gap: 140px;

    &.-Center {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &.-Left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 140px;
    }

    .W_CraftHistorySticker {
      display: flex;
      flex-direction: column;
      gap: 80px;

      width: 1180px;
    }

    .W_CraftSeeAlso {
      display: flex;
      flex-direction: column;
      gap: 90px;

      .W_CraftPageEnd {
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        gap: 50px;
      }
    }
  }
}

//
//
//
//Модальные окна
.S_Modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;

  &.visible {
    display: block;
  }

  .W_ModalFader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

//
//
//
//start- стартовый экран
.S_MainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 220px;

  width: 1350px;

  margin: 280px auto 250px auto;

  .W_MainPageTeaserName {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

//
//
//
//
.S_MapPage {
  height: 100vh;
  width: 100vw;
  background-image: url('images/map/map.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  left: 0;
  top: 0;
  position: absolute;
}

//
