//
// Страница со всеми ремёслами/Статьями

.S_CraftsBody,
.S_ArticlesBody {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 190px auto 200px;
  gap: 76px;

  width: 1180px;

  .C_CraftsCards {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    align-items: top;

    max-width: 1180px;

    grid-column-gap: 36px;
    grid-row-gap: 64px;
  }
}

//
//
//
// Страницы ремёсел

.S_CraftPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//
//
//
//Модальные окна
.S_Modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;

  &.visible {
    display: block;
  }

  .W_ModalFader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
  }
}

//
//
//
//start- стартовый экран
.S_MainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//
//
//
//
// .S_MapPage {
//   height: 100vh;
//   width: 100vw;
// }

//
//
//
//

.S_SearchBody {
  display: flex;
  flex-direction: column;
  margin: 232px auto 150px;

  width: 1176px;

  .C_Content {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    align-items: top;

    max-width: 1180px;

    grid-column-gap: 36px;
    grid-row-gap: 36px;
  }
}
