//
// Страница со всеми ремёслами/Статьями

.S_CraftsBody,
.S_ArticlesBody {
  display: flex;
  flex-direction: column;
  margin: 193px 0px 200px;
  gap: 80px;

  position: relative;

  align-items: center;

  .C_CraftsCards {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    align-items: top;

    width: 1252px;

    grid-column-gap: 37px;
    grid-row-gap: 37px;
  }
}

//
//
//
// Страницы ремёсел

.S_CraftPage {
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  width: 1180px;

  .W_CraftContent {
    gap: 140px;

    &.-Center {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &.-Left {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 140px 0px 240px 0px;
    }

    .W_CraftHistorySticker {
      display: flex;
      flex-direction: column;
      gap: 80px;

      width: 1180px;
    }

    .W_CraftSeeAlso {
      display: flex;
      flex-direction: column;
      gap: 90px;

      .W_CraftPageEnd {
        display: flex;
        flex-direction: column;
        margin-left: 100px;
        gap: 50px;
      }
    }
  }
}

//
//
//
//start- стартовый экран
.S_MainPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 220px;

  width: 1350px;

  margin: 280px auto 250px auto;

  .W_MainPageTeaserName {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}
