// Стили для страниц (много) подборок и мини-статей
body.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > div,
  & > a {
    margin: 10px 0;
  }
}
