// Стили для страницы (одной) со всеми подборками и мини-статьями
body.articles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > div,
  & > a {
    margin: 10px 0;
  }
}
