body.styleguide {
  background: var(--white);
  display: flex;

  a {
    text-decoration: none;
    color: var(--black);
  }

  h1 {
    font-family: 'PP Neue Machina';
    font-style: normal;
    font-weight: 800;
    font-size: 6.607vw;
  }

  h2 {
    font-family: 'PP Neue Machina Plain';
    font-style: normal;
    font-weight: 800;
    font-size: 3.155vw;
    line-height: 2.1525vw;
  }

  h3 {
    font-family: 'PP Neue Machina Plain';
    font-style: normal;
    font-weight: 800;
    font-size: 2.5vw;
    line-height: 2.56vw;
  }

  h4 {
    font-family: 'PP Neue Montreal';
    font-style: normal;
    font-weight: 500;
    font-size: 2.083vw;
  }

  p,
  li {
    font-family: 'PP Neue Montreal';
    font-style: normal;
    font-weight: 400;
    font-size: 1.548vw;
    line-height: 1.845vw;
    &.-sticker{
      margin-left: -5vw;
    }
  }

  li {
    margin-bottom: 0.774vw;
    background-image: url('images/styleguide/li.svg');
    padding-left: 1.6vw;
    padding-bottom: 0.893vw;
    background-position: 0 0;
    background-size: 0.298vw 1.19vw;
    background-repeat: no-repeat;
  }

  .sidebar {
    width: 22.619%;
    height: 100vh;

    .logo {
      position: absolute;
      width: 9.345vw;
      height: 3.791vw;
      left: 4.167vw;
      top: 18.333vw;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('images/styleguide/logo.svg');
    }

    .menu {
      position: fixed;
      margin-left: 4.583vw;
      margin-top: 25.417vw;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      gap: 1vw;
      font-family: 'PP Neue Montreal';
      font-style: normal;
      font-weight: 500;
      font-size: 1.6vw;
      color: var(--black);
    }
  }

  .content {
    width: 77.381%;

    .title {
      height: 29.9vw;
      width: auto;
      background-color: black;
      display: block;
      padding-top: 15.655vw;

      .shape {
        width: 41.667vw;
        height: 8.39vw;
        margin-left: 17.857vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('images/styleguide/title.svg');
        padding-left: 1.25vw;
        padding-top: 1.19vw;
      }

      .titleim {
        width: 60.5vw;
        height: 35.479vw;
        background-size: contain;
        // background-repeat: no-repeat;
        // background-image: url('images/styleguide/title.png');
        justify-content: center;
        margin-top: -20.5vw;
        margin-left: 8.7vw;
      }
    }

    .about {
      background-color: var(--white);
      padding-top: 8.929vw;

      .shape {
        width: 18.036vw;
        height: 4.702vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('./images/styleguide/about.svg');
        padding-left: 1.071vw;
        padding-top: 1.3vw;
        margin-bottom: 3.73vw;

        h2 {
          color: black;
        }
      }

      .text {
        margin-left: 1.071vw;
        margin-bottom: 7.44vw;
        width: 37.5vw;
      }

      .vc {
        display: flex;
        .values {
          width: 50%;

          h4 {
            margin-left: 4.881vw;
            margin-bottom: 2.083vw;
          }

          ul {
            width: 30.952vw;
            margin-left: 3.4vw;
          }
        }

        img{
          position: absolute;
          width: 532px;
          height: auto;
          margin-left:40.25vw;
          margin-top: -28.29vw;
        }

        .character {
          width: 50%;

          h4 {
            margin-left: 3.69vw;
            margin-bottom: 0.774vw;
          }

          ul {
            width: 30.952vw;
            margin-left: 0.774vw;
          }
        }
      }
      .mission {
        width: 44.643vw;
        margin-top: 7.44vw;
        margin-left: 4.881vw;
        margin-bottom: 8.631vw;
      }
    }

    .logotype {
      background-color: #A5CFF5;
      border-radius: 1vw;

      .shape {
        width: 35.893vw;
        height: 79px;
        margin-left: -0.13vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('images/styleguide/logotype.svg');
        padding-left: 1.9vw;
        padding-top: 1.5vw;
        margin-bottom: 2.738vw;
      }
      .shape2{
          width: 41.893vw;
          height: 79px;
          margin-left: -0.13vw;
          background-size: contain;
          background-repeat: no-repeat;
          background-image: url('images/styleguide/logotype.svg');
          padding-left: 1.9vw;
          padding-top: 2vw;
          margin-bottom: 2.738vw;
      }
      .shape3{
        width: 52.893vw;
        height: 79px;
        margin-left: -0.13vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('images/styleguide/logotype.svg');
        padding-left: 1.9vw;
        padding-top: 2.7vw;
        margin-bottom: 2.738vw;
    }
      h2 {
        color: black;
        width: 55.7vw;
      }

      .text {
        margin-left: 1.9vw;
        margin-bottom: 7.44vw;
        width: 30.952vw;
      }
      .logo2,
      .logo3 {
        width: 67.56vw;
        margin-bottom: 7.44vw;
        margin-left: 4.881vw;
      }
      .logo4 {
        width: 67.56vw;
        margin-bottom: 8.631vw;
        margin-left: 4.881vw;
      }
    }

    .color {
      background-color: black;
      padding-top: 3.929vw;
      .shape {
        width: 12.381vw;
        height: 4.702vw;
        margin-left: 3.869vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('images/styleguide/color.svg');
        padding-left: 2.07vw;
        padding-top: 1.892vw;
        margin-bottom: 2.73vw;

        h2 {
          color: black;
        }
      }
      .text {
        margin-left: 4.881vw;
        margin-bottom: 7.44vw;
        width: 30.952vw;
        color: white;
      }

      .colorim{
        width: 60.5vw;
        height: 35.479vw;
        background-size: contain;
        // background-repeat: no-repeat;
        // background-image: url('./images/styleguide/color1.png');
        margin-top: -6.5vw;
        margin-left: 1.7vw;
      }
    }

    .typography {
      background-color: var(--green);
      padding-top: 2vw;
      border-radius: 1vw;

      .shape {
        width: 24.524vw;
        height: 4.702vw;
        margin-left: 1.87vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('images/styleguide/typography.svg');
        padding-left: 1.071vw;
        padding-top: 1.3vw;
        margin-bottom: 7.738vw;

        h2 {
          color: black;
        }
      }

      .typo1,
      .typo2,
      .typo3 {
        display: flex;
        margin-bottom: 8.012vw;
        margin-left: -1.13vw;

        .text {
          margin-left: 4.881vw;
          width: 30.952vw;
          p {
            color: black;
          }
        }
        .inktrap {
          margin-left: 5.655vw;
          width: 30.952vw;

          .n_font {
            margin-bottom: 0;

            p {
              font-family: 'PP Neue Machina';
              font-style: normal;
              font-weight: 800;
              font-size: 3.155vw;
              line-height: 3.214vw;
              color: black;
            }
          }

          .d_font {
            margin-bottom: 2.321vw;

            p {
              font-family: 'PP Neue Machina';
              font-style: normal;
              font-weight: 800;
              font-size: 1.31vw;
              line-height: 1.369vw;
              color: black;
            }
          }

          .g_font {
            p {
              font-family: 'PP Neue Machina';
              font-style: normal;
              font-weight: 800;
              font-size: 2.143vw;
              line-height: 2.202vw;
              color: black;
            }
          }
        }

        .plain {
          margin-left: 5.655vw;
          width: 30.952vw;

          .n_font {
            p {
              font-family: 'PP Neue Machina Plain';
              font-style: normal;
              font-weight: 800;
              font-size: 3.155vw;
              line-height: 3.214vw;
              margin-bottom: 0;
              color: black;
            }
          }

          .d_font {
            margin-bottom: 2.321vw;
            p {
              font-family: 'PP Neue Machina Plain';
              font-style: normal;
              font-weight: 800;
              font-size: 1.31vw;
              line-height: 1.369vw;
              color: black;
            }
          }

          .g_font {
            p {
              font-family: 'PP Neue Machina Plain';
              font-style: normal;
              font-weight: 800;
              font-size: 2.143vw;
              line-height: 2.202vw;
              color: black;
            }
          }
        }

        .montreal {
          margin-left: 5.655vw;
          width: 30.952vw;

          .n_font {
            p {
              font-family: 'PP Neue Montreal';
              font-style: normal;
              font-weight: 400;
              font-size: 3.155vw;
              line-height: 3.214vw;
              margin-bottom: 0;
              color: black;
            }
          }

          .d_font {
            margin-bottom: 2.321vw;
            p {
              font-family: 'PP Neue Montreal';
              font-style: normal;
              font-weight: 400;
              font-size: 1.31vw;
              line-height: 1.369vw;
              color: black;
            }
          }

          .g_font {
            p {
              font-family: 'PP Neue Montreal';
              font-style: normal;
              font-weight: 400;
              font-size: 2.143vw;
              line-height: 2.202vw;
              color: black;
            }
          }
        }
      }
      .t_big_logo {
        display: flex;
        margin-left: 4.881vw;
        margin-bottom: 5.06vw;
        .big_logo {
          width: 42.857vw;
          p {
            color: black;
            margin-top: 1.429vw;
            font-family: 'PP Neue Machina';
            font-style: normal;
            font-weight: 800;
            font-size: 8.929vw;
            line-height: 7.619vw;
          }
        }
        .text_d {
          margin-top: 11.85vw;
          margin-left: -6.7vw;
          p {
            color: black;
            margin-bottom: 0;
            font-family: 'PP Neue Montreal';
            font-style: normal;
            font-weight: 400;
            font-size: 1.548vw;
            line-height: 1.845vw;
          }
        }
      }
    }

    .stickers {
      background-color: var(--white);
      padding-top: 8.929vw;

      .shape {
        width: 17.262vw;
        height: 4.702vw;
        margin-left: -0.13vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('images/styleguide/stickers.svg');
        padding-left: 1.071vw;
        padding-top: 1.4vw;
        margin-bottom: 3.74vw;

        &.no{
          width: 53.262vw;
          height: 4.702vw;
          background-image: url('images/styleguide/no.svg');
        }

        h2 {
          color: white;
          width: 52vw;
        }
      }
      .text {
        margin-left: 4.881vw;
        margin-bottom: 5.06vw;
        width: 39.286vw;
      }

      img {
        margin-bottom: 7.143vw;
        margin-left: -0.19vw;
        width: 67.56vw;
      }

      .text2 {
        width: 35.714vw;
        margin-left: 4.881vw;
        margin-left: 0.8vw;
        p {
          margin-bottom: 5.06vw;
        }
      }

      .text3 {
        width: 30.952vw;
        margin-bottom: 5.952vw;
        margin-left: 4.881vw;
      }

      h4 {
        margin-bottom: 5.357vw;
        margin-left: 4.881vw;
      }

      .img_e {
        width: 67.56vw;
        margin-bottom: 8.631vw;
        margin-left: 4.881vw;
      }
    }

    .merch {
      background-color: var(--black);
      padding-top: 8.929vw;

      .shape {
        width: 28.7vw;
        height: 4.702vw;
        margin-left: 3.869vw;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url('images/styleguide/merch.svg');
        padding-left: 1.071vw;
        padding-top: 1.2vw;
        margin-bottom: 7.738vw;

        h2 {
          color: black;
        }
      }

      .pic {
        margin-bottom: 5.952vw;

        img {
          width: 67.56vw;
          margin-left: 4.881vw;
          margin-bottom: 8.631vw;
        }
      }
    }
  }

  .footer {
    background-color: var(--blue);
    height: 11.905vw;
  }
}
