:root {
  --white: #f5f5f5;
  --black: #080808;
  --pink: #EC6384;
  --green: #64C17E;
  --blue: #3b7992;
  --lila: #bca7fa;
  --grey: #8a8686;
  --darkgrey: #363636;
  --lightgrey: #6a6a6a;
  --yellow: #F8D277;
  --blue: #2C70BB;
  --red: #EC6363;
  --orange: #EE7656;
  --lime: #D1E892;

}
