:root {
  --white: #f5f5f5;
  --black: #080808;

  --grey: #8a8686;
  --darkgrey: #363636;
  --lightgrey: #6a6a6a;
  --lightgrey2: #a4a4a4;

  --pink: #ec6384;
  --green: #64c17e;
  --blue: #3b7992;
  --lila: #bca7fa;
  --grey: #8a8686;
  --darkgrey: #363636;
  --lightgrey: #6a6a6a;
  --yellow: #f8d277;
  --blue: #2c70bb;
  --red: #ec6363;
  --orange: #ee7656;
  --lime: #d1e892;
  --darkbrown: #746464;
  --darkbrown2: #8a5656;

  --uelen: #7ad9f8;
  --abash: #f3c75c;
}
